<h4>CanActivate</h4>
<p>CanActivate, Angular'da bir Route Guard'dır ve genellikle aşağıdaki amaçlarla kullanılır:</p>
<ul>
  <li>Rotaya erişim kontrolü sağlar.</li>
  <li>Kullanıcı yetkilendirme işlemlerini denetler.</li>
  <li>Dinamik yönlendirmeleri yapabilir.</li>
  <li>Belirli içeriklerin erişimini kontrol edebilir.</li>
  <li>Uygulamanın güvenliğini artırmak için kullanılır.</li>
</ul>
<p>CanActivate, genellikle güvenlik, erişim kontrolü ve kullanıcı deneyimi açısından önemli bir rol oynar.</p>

<b>Not: canActive yi kontrol etmek için <code> _authStatus = false </code> yap</b>
<br>
<br>
<button class="btn btn-primary" (click)="loginStatusChange()">Login Status Değiştir</button>
<br><br>
<router-outlet></router-outlet>