<h4>AfterContentChecked</h4>
<p>Dış içerik kontrolü tamamlandığında çağrılır. Dış içerikteki değişikliklerden sonra çalışır.</p>
<p>
  Örnek:
  <br /><br />Dinamik içerik değişiklikleri: Bileşen, dışarıdan gelen içeriğin değişip değişmediğini kontrol etmek için
  kullanılabilir. Örneğin, dış
  içerikteki bir liste veya veri kaynağı dinamik olarak güncelleniyorsa, bu metod aracılığıyla güncellemeleri tespit
  edebilir ve buna göre bileşen
  içinde ilgili işlemleri gerçekleştirebilirsiniz.

  <br /><br />
  Veri bağlantıları: Bileşenin dışındaki bir veri kaynağına bağlıysa ve bu veri kaynağındaki değişikliklerin bileşene
  yansıtılması gerekiyorsa,
  ngAfterContentChecked() metodunu kullanabilirsiniz. Örneğin, dış bir veri modeliyle senkronize olma veya
  değişiklikleri takip etme amacıyla
  kullanılabilir.
</p>
